/* styles.module.css */
.header {
  z-index: 50;
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 8px 0 rgb(116 129 141 / 10%);
  background-color: var(--background);
  padding: 0 24px;
}

.linkButton {
  text-decoration: none;
  color: var(--black);
}

.linkButton:hover {
  opacity: 0.6;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Media queries for md */
@media (min-width: 768px) {
}
