:root {
  --background-color: #fff;
  --primary-color: #be9962;
  --secondary-color: #817566;
  --warning-color: #ff1744;
  --light-gray: #ccc;
  --gray: #777272;
  --black: #000000;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, Meiryo,
    "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
}
